body {
    background-color:black;
}
div {
    text-align: center;
    line-height:25px;
}
.gradientBoxesWithOuterShadows { 
    align-self:center;
    float:none;
    display:inline-block;
    padding: 20px;
    background-color: white; 

    /* outer shadows  (note the rgba is red, green, blue, alpha) */
    -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4); 
    -moz-box-shadow: 15px 15px 15px rgba(23, 69, 88, .5);

    /* rounded corners */
    -webkit-border-radius: 0px;
    -moz-border-radius: 5px; 
    border-radius: 50px;

    /* gradients */
    background: -webkit-gradient(linear, left top, left bottom, 
    color-stop(0%, white), color-stop(15%, white), color-stop(100%, #E8B9C2)); 
    background: -moz-linear-gradient(top, white 0%, white 55%, #ff1000 130%); 
}
.button {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 7px 13px 7px 13px;
  text-decoration: none;
}

.button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

