body {
    background-color:black;
}
div {
    text-align: center;
}
.gradientBoxesWithOuterShadows { 
    align-self:center;
    float:none;
    display:inline-block;
    padding: 20px;
    background-color: white; 

    /* outer shadows  (note the rgba is red, green, blue, alpha) */
    -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4); 
    -moz-box-shadow: 15px 15px 15px rgba(23, 69, 88, .5);

    /* rounded corners */
    -webkit-border-radius: 0px;
    -moz-border-radius: 5px; 
    border-radius: 20px;

    /* gradients */
    background: -webkit-gradient(linear, left top, left bottom, 
    color-stop(0%, white), color-stop(15%, white), color-stop(100%, #D7E9F5)); 
    background: -moz-linear-gradient(top, white 0%, white 55%, #D5E4F3 130%); 
}

@-moz-keyframes blink {0%{opacity:1;} 50%{opacity:0.5;} 100%{opacity:1;}} /* Firefox */
@-webkit-keyframes blink {0%{opacity:1;} 50%{opacity:0.5;} 100%{opacity:1;}} /* Webkit */
@-ms-keyframes blink {0%{opacity:1;} 50%{opacity:0.5;} 100%{opacity:1;}} /* IE */
@keyframes blink {0%{opacity:1;} 50%{opacity:0.5;} 100%{opacity:1;}} /* Opera and prob css3 final iteration */
img {
    width: 70px;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    /* order: name, direction, duration, iteration-count, timing-function */
    -moz-animation: blink normal 1s infinite ease-in-out; /* Firefox */
    -webkit-animation: blink normal 1s infinite ease-in-out; /* Webkit */
    -ms-animation: blink normal 1s infinite ease-in-out; /* IE */
    animation: blink normal 1s infinite ease-in-out; /* Opera and prob css3 final iteration */
}
a {
   font-size:12px;
   font-family: 'Adobe Hebrew';
}
.button {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 3px 7px 3px 7px;
  text-decoration: none;
}

.button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

