@CHARSET "ISO-8859-1";
body {
	text-align: center;
}
.stylishTable { color:#7F7F7F; border-collapse:collapse}
.stylishTable td { border-left:0; padding:10px}
.stylishTable th { padding:10px 10px; background-color: maroon; color: white;}
.stylishTable tr:hover { background-color:#EEE; color:#333}
h1   {}
p    {color:green;}
div{
	
}
.hotelName{
	font-size: 30px;
	font-weight: bold;
	
}
.star{
	color: #DAA520;
	font-size: 20px;
	letter-spacing: 5px;
	
}
.inline{
	display: inline-block;
}
.element{
	color: black;
	font-weight: bold;
}
.attribute{
	color: red;
}
.value{
	color: blue;
}